<a href="#/details:{{{ _id }}}" class="added-flight">
  <img src="{{{ image }}}" alt="" class="picture-added-flight" width="10px" height="10px">
  <h3>{{ destination }}</h3>
  <span>from {{ origin }}</span><span>{{ departure }}</span>
</a>